<div class="container mb-3">
    <div class="nav-bar-bg"></div>

    <!--If Cart is empty-->
    <div *ngIf="items.length === 0" class="text-center empty-cart">

        <div class="empty-text">
            <h3>Oops - your cart appears to be empty!</h3>
            <p>Show someone you care and send them flowers</p>
            <button class="my-button mt-3"><a routerLink="/flowers">start shopping</a></button>
        </div>
    </div>

    <!--If Cart is not empty-->
    <div *ngIf="items.length > 0">
        <div *ngFor="let item of items">
            <div class="row  mb-2">
                <div class="col-4 text-center align-self-center">
                    <h5>{{item.name}}</h5>
                    <p class="price py-2 text-center"><b>{{item.price| currency}}</b></p>
                </div>
                <div class="col-4 align-self-center text-center">
                    <div class="d-flex justify-content-center mb-0 quantity">
                        <a (click)="decreaseQuantity(item)" class="align-self-center"><i class="bi bi-dash-lg me-3"></i></a>
                        <span class="fs-3">{{item.quantity}}</span>
                        <a (click)="increaseQuantity(item)" class="align-self-center"><i class="bi bi-plus-lg ms-3"></i></a>
                    </div>
                    <p class="mt-0"><a (click)="removeItem(item)" class="text-danger">remove</a></p>
                </div>
                <div class="col-4 text-center">
                    <img src="{{item.img}}" width="300" class="cart-image">
                </div>

            </div>
            <hr>
        </div>


        <!-- Off canvas -->
        <div class="row">
            <div class="col-12 col-lg-4">

                <!-- off-canvas section -->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header pb-0 ">
                        <button type="button" class="btn-close text-reset ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">

                        <!-- delivery details form -->
                        <h5 id="offcanvasRightLabel">Delivery Details</h5>
                        <form [formGroup]="recipientInfo" (ngSubmit)="onSubmit()">
                            <input type="text" placeholder="Recipient Name" class="mb-2" formControlName="name">
                            <input type="text" placeholder="Recipient Address" class="mb-2" formControlName="address">
                            <label for="date" class="text-start">For delivery on
                    <input type="date" class="mb-2" formControlName="deliveryDate"></label>
                        </form>

                        <!-- gift card section -->
                        <div class="mt-3">
                            <h5>Add a free gift card</h5>

                            <form [formGroup]="recipientInfo" (ngSubmit)="onSubmit()">
                                <textarea name="message" id="" cols="30" rows="5" formControlName="message" placeholder="Write a personal message to your loved ones!" class="mx-0"></textarea>
                            </form>
                        </div>

                        <!-- order total -->
                        <div class="mt-3">
                            <p class="my-0">Order total: {{total| currency}}</p>
                            <p class="text-secondary mb-3">free delivery</p>
                        </div>

                        <!-- send button -->
                        <form [formGroup]="recipientInfo" (ngSubmit)="onSubmit()">
                            <button class="my-button" type="reset" [disabled]="!recipientInfo.valid" (click)=" orderSent()" routerLink="/">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- order Total Section on page-->
        <div class="d-flex justify-content-between align-items-center my-2 total">
            <a routerLink="/flowers" class="text-secondary"><i class="bi bi-arrow-left me-2"></i>Continue shopping</a>
            <h4 class="mb-0">Subtotal: {{total | currency}}</h4>
        </div>

        <!-- off-canvas trigger button -->
        <div class="text-end total mt-3">
            <button class="my-button logo-color" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Checkout</button>
        </div>
    </div>

</div>