/* 
-------------------
What's in the Cart
-------------------
 */

.cart-image {
    width: 70%;
    height: 40vh;
    object-fit: cover;
}

.empty-cart {
    background-image: url(https://images.unsplash.com/photo-1630149462177-35a341b42fcf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80);
    width: 100%;
    height: 60vh;
    background-position: 50% 40%;
}

.empty-text {
    padding: 2em;
    width: 50%;
    position: relative;
    margin: 0 auto;
    top: 20%;
    background-color: hsla(129, 69%, 100%, 0.60);
}

.price {
    display: inline-block;
    width: 25%;
    border-bottom: 1px solid #3c6e71;
}


/* 
-------------------
Order details
-------------------
 */

input,
textarea {
    display: block;
    padding: 1em 2em;
    border: 0.5px solid black;
    border-radius: 0;
    outline: none;
}

input,
textarea,
label {
    width: 100%;
}

.total {
    margin-left: 4rem;
    margin-right: 4rem;
}

label input[type="date"] {
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    color: black;
}


/* Final Send button not disabled */

[type=reset]:not(:disabled),
button:not(:disabled) {
    color: #3c6e71;
}

.finalBtn {
    width: 100%;
}


/* 
-------------------
Media Queries
-------------------
 */

@media screen and (max-width: 1024px) {
    .total {
        margin-right: 3em;
    }
}

@media screen and (max-width: 768px) {
    .cart-image {
        width: 96%;
        height: 28vh;
    }
    .total {
        margin-right: 0;
        margin-left: 0;
    }
    .price {
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    .price {
        width: auto;
    }
    .empty-text {
        width: 80%;
    }
    .cart-image {
        height: 15vh;
    }
    .col-4 {
        text-align: start !important;
    }
    .quantity {
        justify-content: flex-start !important;
    }
    .text-danger {
        margin-left: 0.7em;
    }
}