/* What's in the Cart */

.cart-image {
    object-fit: cover;
}

.price {
    display: inline-block;
    width: 15%;
    border-bottom: 1px solid #3c6e71;
}


/* Recipient Info & personal Card */

input,
textarea {
    display: block;
    padding: 1em 2em;
    border: 1px solid black;
    border-radius: 0;
    outline: none;
}

label,
input {
    width: 100%;
}

.recipient-container {
    width: 60%;
    margin: 0 auto;
}

.info,
.gift {
    width: 45%;
}