<!-- hero -->
<div class="d-flex border-bottom border-dark">
    <div class="hero"></div>
    <div class="border-start border-dark">
        <div class="hero-text ps-3">
            <h1>Send flowers to your loved ones!</h1>
            <p class="mt-3">
                Housewarmings. Birthdays. The official start of spring. You don’t always need a reason to care wildly. But just in case...
            </p>
            <button class="my-button"><a routerLink="/flowers">Shop now</a></button></div>
    </div>
</div>
<div class="background-color">
    <div class="container">
        <!-- Section -->

        <div class="text-center mb-5 pt-5">
            <h3> New ways to show you care</h3>
            <p>The plant to warm a new home. The bunch to brighten a bad day. The note sent without an occasion. And more.</p>
        </div>


        <!-- Section Remember whats important-->
        <div class="background">
            <div class="save-date-image">
                <img src="https://images.unsplash.com/photo-1591056076251-514f3c9368a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTQxfHxmbG93ZXIlMjBib3VxdWV0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60" alt="">
            </div>
            <div class="text text-center">
                <h3 class="mb-3">Remember what's important</h3>
                <p>Set reminders for birthdays, anniversaries or times they might need some extra support.</p>
                <button class="my-button mt-3"><a href="">Save the date</a></button>
            </div>
        </div>


    </div>
</div>

<!--Bestsellers-->

<div class="border-bottom border-dark border-top border-black">
    <div class="container d-flex justify-content-between my-5 " *ngIf="bestsellers.length >0">
        <div class="bestseller-image">
            <img [src]="displayedImage">
        </div>
        <div class="text-end right">
            <h3 class="mb-5 heading">Meet our Bestsellers</h3>
            <div class="ms-5 names">

                <h4 *ngFor="let bestseller of bestsellers" class="border-bottom border-dark pe-2" [attr.id]="'achnor' + bestseller.id"><a (mouseenter)="onMouseEnter(bestseller.name)" (mouseleave)="onMouseLeave()" [routerLink]="'/details/' + bestseller.id">{{bestseller.name}}</a></h4>

            </div>
        </div>
    </div>
</div>