<div class="footer">

    <div class="container">
        <div class="row mb-2">
            <div class="col">
                <p class="fs-4 logo my-0">flùr</p>
                <i class="fa-brands fa-square-instagram me-2"></i>
                <i class="fa-brands fa-facebook me-2"></i>
                <i class="fa-solid fa-envelope"></i>
            </div>

            <div class="col text-end">
                <p class="fw-bold my-0">About us</p>
                <p class="my-0"><a>Our Story</a></p>
                <p class="my-0"><a>Sustainability</a></p>
                <p class="my-0"><a>Careers</a></p>
            </div>
            <div class="col text-end">
                <p class="fw-bold my-0">Flowers & plants</p>
                <p class="my-0"><a>flower subscribtion</a></p>
                <p class="my-0"><a>flower school & tipps</a></p>
                <p class="my-0"><a>plant-care</a></p>
                <p class="my-0"><a>Blog</a></p>

            </div>
            <div class="col text-end">
                <p class="fw-bold my-0">Need help?</p>
                <p class="my-0"><a>Costumer Service</a></p>
                <p class="my-0"><a>Where is my order?</a></p>
                <p class="my-0"><a>Shipment conditions</a></p>
                <p class="my-0"><a>Reviews</a></p>
            </div>
            <div class="col text-end">
                <p class="fw-bold my-0">Discount & offers</p>
                <p class="my-0"><a>Student discount</a></p>
                <p class="my-0"><a>VIP costumer discount</a></p>
                <p class="my-0"><a>Keyworker discount</a></p>

            </div>
        </div>
        <div class="small text-end my-0 text-secondary">
            <p class=" my-0">&copy; Silia Cronauer 2023</p>
            <p class=" my-0">*this website was created for educational purposes only!</p>
        </div>
    </div>
</div>