<div class="container">
    <div class="nav-bar-bg"></div>

    <!--Header (Name, Price, Send, back)-->
    <div class="d-flex">
        <h3 class="flex-fill logo-color">{{flower.name}}</h3>
        <h5 class="align-self-center me-4 mb-0 big-screen-send">Total: {{flower.price | currency}}</h5>
        <button class="my-button me-4 logo-color big-screen-send" (click)="addToCart()" routerLink="/cart">Send</button>
        <a class="back" [routerLink]="fromHome ? '/' : '/flowers'"><i class="fa-solid fa-x fs-3 text-secondary"></i></a>
    </div>
    <hr>

    <!--Content-->
    <div class="row row-cols-1 row-cols-md-2">
        <div class="left mb-3">
            <img src="{{flower.img}}" alt="{{flower.name}}">
        </div>
        <div class="left">

            <!-- Price & Send section small screen -->
            <div class="small-screen-send">
                <div class="d-flex justify-content-between mb-2">
                    <h3 class="align-self-center mb-0">{{flower.price | currency}}</h3>
                    <button class="my-button  logo-color" (click)="addToCart()" routerLink="/cart">Send</button>
                </div>
                <hr>
            </div>

            <!--Flower Info-->
            <h5>About</h5>
            <p>{{flower.description}}</p>
            <p class="mb-2"><b>What's in the box?</b></p>
            <p class="mb-3">{{flower.inside}}</p>
            <hr>

            <!-- Standard Info -->
            <div class="d-flex">
                <i class="bi-flower3 me-2 fs-3 flower-bullet"></i>
                <p> Arrives in bud. But bursts into life over 48 hours.</p>
            </div>

            <div class="d-flex">
                <i class="bi-flower3 me-2 fs-3"></i>
                <p> Every stem is unique so sometimes colours vary or we'll need to use a substitution to give you the best bouquet!</p>
            </div>
            <div class="d-flex">
                <i class="bi-flower3 me-2 fs-3 flower-bullet"></i>
                <p> Sourced from trusted, responsible growers</p>
            </div>
            <div class="d-flex">

                <i class="bi-flower3 me-2 fs-3"></i>
                <p> Hand-arranged by us and delivered to the doorstep in 100% recyclable and compostable packaging.</p>
            </div>
            <div class="d-flex">
                <i class="bi-flower3 me-2 fs-3"></i>
                <p> Choose our free Royal Mail service or premium courier for delivery on your nominated day.</p>
            </div>

        </div>
    </div>
</div>