<div class="container">
    <div class="nav-bar-bg"></div>
    <!--Header-->
    <div class="d-flex">
        <h3 class="flex-fill logo-color">{{flower.name}}</h3>
        <h5 class="align-self-center me-4 mb-0">Total: {{flower.price | currency}}</h5>
        <button class="my-button me-4 logo-color" (click)="addToCart()" routerLink="/cart">Send</button>
        <a class="back" routerLink="/flowers"><i class="fa-solid fa-x fs-3 text-secondary"></i></a>
    </div>
    <hr>
    <!--Content-->
    <div class="row row-cols-1 row-cols-lg-2">
        <div class="left mb-3">
            <img src="{{flower.img}}">
        </div>
        <div class="left">
            <h5>About</h5>
            <p>{{flower.description}}</p>
            <h6>What's in the box?</h6>
            <p class="mb-5">{{flower.inside}}</p>

            <div class="d-flex">
                <i class="bi-flower3 me-2 fs-3 flower"></i>
                <p> Arrives in bud. But bursts into life over 48 hours.</p>
            </div>

            <div class="d-flex">
                <i class="bi-flower3 me-2 fs-3"></i>
                <p> Every stem is unique so sometimes colours vary or we'll need to use a substitution to give you the best bouquet!</p>
            </div>
            <div class="d-flex">
                <i class="bi-flower3 me-2 fs-3 flower"></i>
                <p> Sourced from trusted, responsible growers</p>
            </div>
            <div class="d-flex">

                <i class="bi-flower3 me-2 fs-3"></i>
                <p> Hand-arranged by us and delivered to the doorstep in 100% recyclable and compostable packaging.</p>
            </div>
            <div class="d-flex">
                <i class="bi-flower3 me-2 fs-3"></i>
                <p> Choose our free Royal Mail service or premium courier for delivery on your nominated day.</p>
            </div>

        </div>
    </div>
</div>